@Main("Alumni") {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1>Welcome Castle High School Alumni!</h1>
          <ul>
            <li>Transcript Request Form</li>
            <li>Wish List from Faculty and Staff</li>
            <li>Castle Alumni T-Shirts</li>
            <li>DOE Online Forms</li>
          </ul>
          <p>Please use this page to find out about upcoming class reunions. If you would like to add or update information on this page, please email the Webmaster. Thank-you!</p>
        </div>
      </div>
    </div>
  </div>
}