@Main("Faculty/Staff") {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1>Faculty / Staff</h1>
          <ul>
            <li>Accreditation</li>
            <li>Chapter 19</li>
            <li>DOE Compliance Expectations - Mandatory Videos</li>
            <li>DOE Online Forms</li>
            <li>Family Educational Rights and Privacy Act (FERPA)</li>
            <li>Grade Check Dates for Co-Curricular Activities</li>
            <li>Hawaii Department of Education</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
}