@Main("Home") {
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h2>Information</h2>
          <ul>
            <li>About Us</li>
            <li>Administration</li>
            <li>Athletics</li>
            <li>Bell Schedule</li>
            <li>Calendar</li>
            <li>Counselors</li>
            <li>Daily Bulletin</li>
            <li>Directories</li>
            <li>Knightly News</li>
            <li>Library</li>
            <li>Lunch Menu</l>
            <li>Small Learning Communities</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 hidden-xs">
        <div class="well">
          <h2>Welcome to Castle High School</h2>
          <div class="knight-pride"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h2>Announcements</h2>
          <dl>
            <dd>Monday, March 2</dd>
            <dt>Periods 1, 3, 5, 7</dt>

            <dd>Tuesday, March 3</dd>
            <dt>Testing Schedule:All students should report to their PTP class by 8:00 am.  Seniors: Once attendance is taken you will be escorted to the Auditorium by your teacher.  All 9th, 10th and 11th grade students you will be taking the statewide ACT test.  Please bring with you a number 2 pencil, eraser and calculator.  NO calculators will be given out and NO cell phones should be taken out during the test including the breaks.  If you have any questions please see your grade level counselor or CCRC-rm-38</dt>

            <dd>Wednesday,March 4</dd>
            <dt>Periods 2, 4, 6</dt>

            <dd>Thursday, March 5</dd>
            <dt>Periods 1, 3, 5, 7</dt>

            <dd>Friday,March 6</dd>
            <dt>Periods 2, 4, PTP, 6</dt>

          </dl>
        </div>
      </div>
    </div>
  </div>
}