@Main("Student/Parents") {
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="well">
          <p>
            Knights occupied a special place in European history and literature. When people today hear the word "knight," many think of the days of King Arthur, Camelot and his famous Knights of the Round Table, when CHARACTER, COMMITMENT AND COMPETENCE were valued above all else. You are now a Castle High School KNIGHT and therefore expected to conduct yourselves accordingly.</p>

          <h1>Academic Resources / Student Life / School Services</h1>
          <ul>
            <li>Accreditation</li>
            <li>Attendance Policy</li>
            <li>Band</li>
            <li>Chapter 19</li>
            <li>Clubs</li>
            <li>CPAC</li>
            <li>Career and Technical Education (CTE)</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          Seniors<br />

          Juniors<br />

          Sophomores<br />

          Freshmen<br />
        </div>
      </div>
    </div>
  </div>
}